<h1>PROFILE</h1>
<p>DIRIGIRSE A PRODUCTOS</p>
<button onclick="location.href='/products'">PRODUCTOS</button>
<p>DIRIGIRSE A CARTS</p>
<button onclick="location.href='/carts'">CARTS</button>
<p>LOGOUT</p>
<button onclick="location.href='/users/logout'">logout</button>