<h3> SOCKET CLIENTE </h3>

<form id="form">

    <label> Product: </label>

    <input type="text" name="title" id="title">

    <label> Price: </label>

    <input type="number" name="price" id="price">
    <label> stock: </label>

    <input type="number" name="stock" id="stock">
    <label> category: </label>

    <input type="text" name="category" id="category">

    <button type="submit">Submit</button>

</form>



<ul id="products">

    {{#each products}}

    <li>

        <h4>{{this.title}} - ${{this.price}}</h4>

        <p>{{this.description}}</p>

    </li>

    {{/each}}

</ul>



<script src="/socket.io/socket.io.js"></script>

<script src="js/index.js"></script>